{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block javascript %}
  <script src="{% static 'js/dailyrecords.js' %}"></script>
{% endblock javascript %}

{%   block content %}

<div class="container-fluid">
<div class="panel panel-default demo">
                    <div class="panel-body">
              <table class="table table-bordered">
                   <tr><a href="{% url 'livestocks-views' %}" type="button" class="btn btn-primary">Back</a></tr>
                     <tr>
                            <th >Livestock ID</th>
                            <td >
                               000/{{ livestocksDetails.id }}
                            </td>
                           <th >Quantity in Stock</th>
                            
                            
                            <td>
                                 {{ livestocksDetails.livestockname }}
                            </td>
                        </tr>
                        <tr>
                            <th >Farm Name</th>
                            <td >
                                {{ livestocksDetails.farmName }}
                            </td>
                           <th >Live Stock type</th>
                            
                            
                            <td>
                                 {{ livestocksDetails.livestockname }}
                            </td>
                        </tr>
                       
                        <tr>
                            <th>Quantity Supplied</th>
                            <td>
                                {{ livestocksDetails.qty }}
                            </td>
                            
                            <th>Date stocked</th>
                            <td>
                                 {{ livestocksDetails.datepurchased }}
                            </td>
                            
                        </tr>
                       
                        
                    </table>
                    <h4 >Daily Records for  000/{{ livestocksDetails.id }}</h4> 
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#feeding" id="feeding-tab" role="tab" data-toggle="tab" aria-controls="feeding" aria-expanded="true">Feeding</a></li>
                            <li role="presentation" class="medication-tab"><a href="#medication" role="tab" id="medication-tab" data-toggle="tab" aria-controls="medication" aria-expanded="false">Medication</a></li>
                            <li role="presentation" class=""><a href="#mortality" role="tab" id="mortality-tab" data-toggle="tab" aria-controls="mortality" aria-expanded="false">Mortality</a></li>

                        </ul>
                        <br>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="feeding" aria-labelledby="home-tab">
                                
                               <table class="table table-bordered table-hover" style="margin-bottom:0" id ="dailyrecords-table">
                                   
                                    <thead>
                                    <tr>Feeding Records</tr>
                                        <tr>
                                            <th>S/No</th>
                                             
                                            <th>Feed Name</th>
                                           
                                            <th>Qty</th>
                                            <th>Date </th>
                                            
                                            <th colspan="2"><button  class="btn btn-block btn-primary " data-toggle="modal" data-target=".feeding">Add Feeds</button> </th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                {% include 'includes/_list_feed.html' %}
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="medication" aria-labelledby="profile-tab">
                                 <table class="table table-bordered table-hover dailyrecords-table" style="margin-bottom:0" id ="feeding-table">
                                   
                                    <thead>
                                    
                                        <tr>
                                            <th>S/No</th>
                                            <th>Drug</th>
                                            <th>Medication Type</th>
                                             
                                            <th>Disease Name</th>
                                            
                                           
                                            
                                            <th>Date </th>
                                            
                                            <th colspan="2"><button  class="btn btn-block btn-primary " data-toggle="modal" data-target=".medication">Add Medication</button></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                {% include 'includes/_list_medication.html' %}
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="mortality" aria-labelledby="dropdown1-tab">
                                 <table class="table table-bordered table-hover" style="margin-bottom:0">
                                   
                                    <thead>
                                     <tr>Mortality Records</tr>
                                        <tr>
                                            <th>S/No</th>
                                             
                                            <th>Date</th>
                                           
                                            <th>Qty</th>
                                            <th>Cause of death </th>
                                            
                                            <th colspan="2"><button  class="btn btn-block btn-primary " data-toggle="modal" data-target=".mortality">Add Mortality</button></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                {% include 'includes/_list_mortality.html' %}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>                                      
                     
                </div>
                </div>
                </div>
{% comment %} Modal Form feeding {% endcomment %}
<!--Modal-->
  <!-- Modal -->
<div class="modal fade feeding"  tabindex="-1" role="dialog" aria-labelledby="feedingRecords">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form method="POST" action="">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Add Feeding</h4>
                </div>
                <div class="modal-body">
                  {% csrf_token %}
                
                    <div class="form-group disabled hidden" >
                 {{ feed_form.livestock|as_crispy_field }}
                 
                 </div>      
               <div class="form-group " >
                 {{ feed_form.datepurchased|as_crispy_field }}
                 
                 </div>   
                 <div class="form-group " >
                 {{ feed_form.feedname|as_crispy_field }}
                 
                 </div> 
                 <div class="form-group " >
                 {{ feed_form.qty|as_crispy_field }}
                 
                 </div> 
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Feeding</button>
                </div>
            </form>
    </div>
  </div>
</div>
{% comment %} Modal Form  Mortality{% endcomment %}

<div class="modal fade mortality" tabindex="-1" role="dialog" aria-labelledby="feedingRecords">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Mortality</h4>
                </div>
            <div class="modal-body">
            {% csrf_token %}
            <div class="form-group " >
            {{ mort_form.livestock | as_crispy_field }}
            </div> 
            <div class="form-group " >
            {{ mort_form.datepurchased | as_crispy_field }}
            </div> 
            <div class="form-group " >
            {{ mort_form.qty | as_crispy_field }}
            </div> 
            <div class="form-group " >
            {{ mort_form.cause | as_crispy_field }}
            </div> 
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Mortality</button>
            </div>
            </form>
</div>
</div>
</div>

<!--Modal-->
<!--Medication-->
<div class="modal fade medication" tabindex="-1" role="dialog" aria-labelledby="feedingRecords">
<div class="modal-dialog" role="document">
    <div class="modal-content">
            <form method="post" action="">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Medication</h4>
                </div>
                    <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group " >
                    {{ med_form.livestock | as_crispy_field }}
                    </div> 
                    <div class="form-group " >
                    {{ med_form.datepurchased | as_crispy_field }}
                    </div> 
                    <div class="form-group " >
                    {{ med_form.medication | as_crispy_field }}
                    </div> 
                    <div class="form-group " >
                    {{ med_form.disease | as_crispy_field }}
                    </div> 
                    </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Medication</button>
                </div>
            </form>
    </div>
</div>
</div>



{% endblock content %}