<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href= "{% static 'css/bootstrap-clearmin.css' %}">
        <link rel="stylesheet" type="text/css" href= "{% static 'css/roboto.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/material-design.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/small-n-flat.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <title>waboke farms</title>
    </head>
    <body class="cm-no-transition cm-1-navbar">
      {% include 'includes/_sidebar.html' %}
        {% include 'includes/_header.html' %}
        <div id="global">
            {% block content %}
           
            

            {% endblock content %}
      
            <div>
            <footer class="cm-footer"><span class="pull-left">Designed By William Rupert</span><span class="pull-right">&copy; www.wabokeglobal.com</span></footer>
        </div>
        <script src="{% static 'js/lib/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
        <script src="{% static 'js/jquery.cookie.min.js' %}"></script>
        <script src="{% static 'js/fastclick.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/clearmin.min.js' %}"></script>        
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
         {% block javascript %}
         {% endblock javascript %}
    </body>
</html>
