{% for medication in medication %}
                                <tr>
                                <td>{{ forloop.counter}}</td>
                                   
                                    <td>{{medication.medication.name}}</td>
                                     <td>{{medication.medication.medicationType}}</td>      
                                    <td>{{medication.disease}}</td>
                                    <td>{{medication.datepurchased}}</td>
                                   
                                    <td><button type="button" class="btn btn-warning btn-sm js-edit-livestock" data-url="#">
                                        <i class="fa fa-pencil-square-o"></i>Edit</button> </td>
                                    <td> <button type="button" class="btn btn-danger btn-sm js-delete-livestock" data-url="#" >
                                        <i class="fa fa-trash-o"></i> Delete</button> </td>
                                    </tr>
                                    {% empty %}
                                        <tr>
                                        <td colspan="8" class="text-center bg-warning"> No Medication to display</td>
                                        </tr>
                                    {% endfor %}