{% for mortality in mortality %}
                                <tr>
                                <td>{{ forloop.counter}}</td>
                                   
                                    
                                   <td>{{mortality.datepurchased}}</td>
                                    <td>{{mortality.qty}}</td>
                                    
                                    <td>{{mortality.cause}}</td>
                                   
                                    <td><button type="button" class="btn btn-warning btn-sm js-edit-livestock" data-url="#">
                                        <i class="fa fa-pencil-square-o"></i>Edit</button> </td>
                                    <td> <button type="button" class="btn btn-danger btn-sm js-delete-livestock" data-url="#" >
                                        <i class="fa fa-trash-o"></i> Delete</button> </td>
                                    </tr>
                                    {% empty %}
                                        <tr>
                                        <td colspan="8" class="text-center bg-warning"> No Feeding to display</td>
                                        </tr>
                                    {% endfor %}