   <div id="cm-menu">
          <nav class="cm-navbar cm-navbar-primary">
                <div class="cm-flex"><a href="#" class="cm-logo"></a></div>
                <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
            </nav>
            <div id="cm-menu-content">
                <div id="cm-menu-items-wrapper">
                    <div id="cm-menu-scroller">
                        <ul class="cm-menu-items">
                            <li class="active"><a href="#" class="sf-house">Home</a></li>
                            <li><a href="#" class="sf-dashboard">Dashboard</a></li>
                            <li><a href="#" class="md-view-stream ">Livesocks</a></li>
                            <li class="cm-submenu">
                                <a class="sf-window-layout">Daily Records <span class="caret"></span></a>
                                <ul>
                                    <li><a href="#">Feeding</a></li>
                                    <li><a href="#">Treatements</a></li>
                                    <li><a href="#">Vacination</a></li>
                                </ul>
                            </li>
                           
                            <li><a href="#" class="sf-notepad">Blog</a></li>
                            <li><a href="#" class="sf-lock-open">Login page</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>