<div id="cm-menu">
            <nav class="cm-navbar cm-navbar-primary">
                <div class="cm-flex"><a href="index.html" class="cm-logo"></a></div>
                <div class="btn btn-primary md-menu-white" data-toggle="cm-menu"></div>
            </nav>
            <div id="cm-menu-content">
                <div id="cm-menu-items-wrapper">
                    <div id="cm-menu-scroller">
                        <ul class="cm-menu-items">
                            <li><a href="{% url 'livestocks-home' %}" class="sf-house">Home</a></li>
                            <li><a href="dashboard-sales.html" class="sf-dashboard">Dashboard</a></li>
                    
                            <li class="cm-submenu">
                                <a class="sf-window-layout">Livestocks <span class="caret"></span></a>
                                <ul>
                                     <li><a href="{% url 'livestocks-views' %}" >Add Livestock</a></li>
                                    <li><a href="{% url 'farmname-views' %}">Farm Name</a></li>
                                    <li><a href="{% url 'livestocktype-views' %}">Livestock Type</a></li>
                
                                    <li><a href="{% url 'disease' %}">Disease</a></li>
                                     <li><a href="{% url 'drugs' %}">Drugs</a></li>
                                </ul>
                            </li>
                            <li class="cm-submenu">
                                <a class="sf-cat">Icons <span class="caret"></span></a>
                                <ul>
                                    <li><a href="ico-sf.html">Small-n-flat</a></li>
                                    <li><a href="ico-md.html">Material Design</a></li>
                                    <li><a href="ico-fa.html">Font Awesome</a></li>
                                </ul>
                            </li>
                            <li><a href="notepad.html" class="sf-notepad">Text Editor</a></li>
                            <li><a href="login.html" class="sf-lock-open">Login page</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>