{% extends 'base.html' %}
{% load static %}
{% block content %}
             <div class="container-fluid">
          <div class="panel panel-default">
                    <div class="panel-heading panel-menu">
                    <ul class="nav pull-left">
                    <li><a type="button" href="{% url 'livestocks-add' %}">Add Livestock Name</a></li>
                    </ul></div>
                    <div class="panel-body" id="demo-buttons">
                        <div class="row">
                            <table class="table table-bordered table-hover" style="margin-bottom:0">
                                    <caption>List of Livestock Names</caption>
                                    <thead>
                                        <tr>
                                            <th>S/No</th>
                                             <th>View Details</th>
                                            <th>Livestock Name</th>
                                            <th> Descriptions</th>
                                            
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for type in page_obj %}
                                <tr>
                                <td>{{ forloop.counter}}</td>
                                <td ><a  type="button" href="#" class="btn btn-block btn-outline-primary">View</a></td>
                                   
                                    <td>{{type.name}}</td>
                                    <td>{{type.description}}</td>
                                    
                                    <td><a  type="button" href="#" class="btn btn-block btn-outline-warning ">Edit</a></td>
                                    
                                    <td><a class="btn btn-block btn-sm btn-outline-danger ">Delete</a></td>
                                    </tr>
                                    {% empty %}
                                        <tr>
                                        <td colspan="8" class="text-center bg-warning"> No Livestock to display</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                                         
                        </div>
                        {% comment %} pagination {% endcomment %}
                         
                        {% comment %} pagination {% endcomment %}

                        
                    </div>
                </div>
                
{% endblock content %}