{% extends 'base.html' %}
{% load static %}
{% block content %}
             <div class="container-fluid">
          <div class="panel panel-default">
                    <div class="panel-heading panel-menu">
                    <caption>List of Livestock Names</caption></div>
                    <div class="panel-body" id="demo-buttons">
                        <div class="row">
                            <table class="table table-bordered table-hover" style="margin-bottom:0">
                                    
                                    <thead>
                                        <tr>
                                            <th>S/No</th>
                                             <th>View Details</th>
                                            <th>Livestock Name</th>
                                            <th> Descriptions</th>
                                            
                                            <th colspace="2"><a type="button" href="{% url 'livestocks-add' %}">Add Livestock Name</a></th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for type in page_obj %}
                                <tr>
                                <td>{{ forloop.counter}}</td>
                                <td ><a  type="button" href="#" class="btn btn-block btn-outline-primary">View</a></td>
                                   
                                    <td>{{type.name}}</td>
                                    <td>{{type.description}}</td>
                                    
                                   <td><button type="button" class="btn btn-warning btn-sm js-edit-livestock" data-url="#">
                                    <i class="fa fa-pencil-square-o"></i>Edit</button> </td>
                                <td> <button type="button" class="btn btn-danger btn-sm js-delete-livestock" data-url="#" >
                                    <i class="fa fa-trash-o"></i> Delete</button> </td>
                                    </tr>
                                    {% empty %}
                                        <tr>
                                        <td colspan="8" class="text-center bg-warning"> No Livestock to display</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                                         
                        </div>
                        {% comment %} pagination {% endcomment %}
                         
                        {% comment %} pagination {% endcomment %}

                        
                    </div>
                </div>
                
{% endblock content %}