{% extends 'base.html' %}
{% load static %}
{% block content %}
          <div class="panel panel-default">
                    <div class="panel-heading">Livestocks</div>
                    <div class="panel-body" id="demo-buttons">
                        <p>Click buttons below to change navbar main color :</p>
                        <div class="row">
                            {% lorem 1 b random %}
                            
                        </div>
                    </div>
                </div>
{% endblock content %}